{% extends "base.html" %}

{% block title %}GOTR Bowl!{% endblock %}

{% block content %}
<h1 class="text-center">Girls on the Run Bowl</h1>
<h3 class="text-center"><a href="https://twitter.com/search?q=%23GOTRBowl&src=typd&f=realtime" target="_blank">#GOTRBowl</a></h3>
<div class="row-fluid">
    <div class="pull-left den text-center">
        <div class="bar-wrapper">
            <div class="bar" style="height: {{ den_factor }}%">
            </div>
        </div>
        {#
        <div class="amount">{{ den.formatted_amount }}</div>
        #}
        <h1><span>Denver</span></h1>
        <h4><a href="http://girlsontherunrockies.org/give/" target="_blank">Donate Now!</a></h4>
        <div class="row-fluid">
            <div class="offset2 span8">
                <a href="http://girlsontherunrockies.org/give/" class="thumbnail" target="_blank">
                    <img src="/static/img/DEN.jpg">
                </a>
            </div>
        </div>
    </div>
    <div class="pull-right sea text-center">
        <div class="bar-wrapper">
            <div class="bar" style="height: {{ sea_factor }}%">
            </div>
        </div>
        {#
        <div class="amount">{{ sea.formatted_amount }}</div>
        #}
        <h1><span>Seattle</span></h1>
        <h4><a href="http://girlsrun.org/donate/donate/" target="_blank">Donate Now!</a></h4>
        <div class="row-fluid">
            <div class="offset2 span8">
                <a href="http://girlsrun.org/donate/donate/" class="thumbnail" target="_blank">
                    <img src="/static/img/SEA.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="offset1 span10 about">
        <p>
            While attending the annual Girls on the Run International conference in San Antonio this past weekend, Girls on the Run of the Rockies and Girls on the Run of Puget Sound had some fun bantering about the outcome of the upcoming game between our rival football teams, the Denver Broncos and the Seattle Seahawks. That banter led us to create our own competition. 
        </p>
        <h4 class="text-center">
            Question is: Who will raise the most money between now and Super Bowl Sunday (Feb. 2, 2014)?
        </h4>
        <div class="row-fluid">
            <div class="offset4 span4">
                <div class="thumbnail">
                    <img src="/static/img/BothTeams.jpg">
                </div>
                <br>
            </div>
        </div>
        <p>
            We need your help! We will be “competing” to see which council can raise the most money to provide the greatest number of scholarships for our spring programs which begin in March. Our GOTR Bowl will support girls who want to participate in our respective spring programs and are in need of support to do so. Girls on the Run empowers girls to take charge of their lives and define the future on their own terms. As one girl in our program put it, "I learned that I am the boss of my brain." 
        </p>
        <p>
            Our respective Boards of Directors have taken up the challenge and will <b>be matching every gift that is made between now and February 2nd</b>. Please give more girls the opportunity to experience our life-changing program. Think of your contribution as a scholarship for <b>Can University</b>, a place where girls learn that they can. No limits.  No constraints. Only opportunities to be remarkable.
        </p>
        <p>
            <b>Are you in?</b> Make a donation to one of the sites below:
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="pull-left den text-center">
        <div class="row-fluid">
            <div class="offset3 span8">
                <div class="well denwell">
                    <h3><a href="http://girlsontherunrockies.org/give/" target="_blank">Bronco Fans for<br>Girls on the Run<br>of the Rockies!</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-left sea text-center">
        <div class="row-fluid">
            <div class="offset1 span8">
                <div class="well seawell">
                    <h3><a href="http://girlsrun.org/donate/donate/" target="_blank">Seahawks Fans for<br>Girls on the Run<br>Puget Sound!</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
